/* ------------------Body------------------ */
body {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;

    /* background-color: rgb(253, 253, 150); */
    /* background-color: rgb(252, 252, 100); */
    background-color: rgb(150, 253, 202);
}
h1 {
    font-size: 90px;
    margin: 0;
}
h2 {
    font-size: 70px;
    margin: 0;
}
h5 {
    font-size: 20px;
}
a {
    text-decoration: none;
}

/* ------------------Font Classes------------------ */
.black-text {
    color: black;
}
.libre-baskerville {
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.fira-sans-regular {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.fira-sans-medium {
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.fira-sans-semibold {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.fira-sans-regular-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}



/* ------------------Navigation Bar------------------ */
.navbar {
    max-width: 100%;
    margin: 1.2em 2em 1em 2em;
    border: 2px solid;
    border-radius: 100px;
    background-color: white;
    display: flex;
    flex-direction: row;
}
.navbar a {
    height: fit-content;
    display: inline;
}
.navbar a img {
    height: 3em;
    display: inline;
    /* width: 3em; */
    margin-right: 1vw;
    margin-left: 1vw;
}
.nav {
    margin-left: auto;
    line-height: 3em;
}
.option {
    display: inline;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    font-weight: normal;
}



/* ------------------Footer------------------ */
footer {
    display: flex;
    margin-top: 1em;
    padding: 1.5em 1em 1em 1em;
    border-top: 1px black solid;
    flex-direction: row;
}
footer p {
    font-size: 18px;
    margin-left: 2em;
    line-height: 1.25em;
    color: rgba(0, 0, 0, 0.7);
}
.socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    margin-left: auto;
}
.socials img {
    margin-left: 1vw;
    margin-right: 1vw;
}



/* ------------------Home Page------------------ */
main {
    margin: 0 2em;
    position: relative;
    justify-content: center;
    text-align: center;

    overflow-y: hidden;
    /* border: 2px solid; */
    border-radius: 100px;

}
main img {
    width: 100%;
    font-size: 0px;
    object-fit:inherit;
    
}
#header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 60%;

    line-height: 7em;
    text-align: center;
}
#header {
    margin-top: 22%;
}
#header h1, #header h2 {
    color: #FCFC64;
    -webkit-text-stroke-width: 1px; /* Outline width */
    -webkit-text-stroke-color: black; /* Outline color */
}
