/* ------------------Body------------------ */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    background-color: rgb(255, 255, 255);
    /* background-color: rgb(253, 253, 150); */
    /* background-color: rgb(252, 252, 100); */
    /* background-color: rgb(150, 253, 202); */
}
h1 {
    font-size: 180px;
    margin: 0;
}
h2 {
    font-size: 56px;
    margin: 0;
}
h5 {
    font-size: 30px;
}
a {
    text-decoration: none;
}

/* ------------------Font Classes------------------ */
.black-text {
    color: black;
}
.libre-baskerville {
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.fira-sans-regular {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.fira-sans-medium {
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.fira-sans-semibold {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.fira-sans-regular-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.playfair-display-900 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}
.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.syne-700 {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


/* ------------------Navigation Bar------------------ */
.navbar {
    max-width: 100%;
    margin: 0;
    padding: 0.75em 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.25);
}
/* .navbar a {
    width: fit-content;
    height: fit-content;
    display: inline;
} */

.logo img {
    height: 4.25em;
    display: block;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
/* .nav a img {
    height: 4em;
    display: inline;
    /* width: 3em;
    /* margin-right: 1vw;
    margin-left: 1vw;
} */

.option {
    font-weight: normal;
    margin: 0;
}
.option a {
    padding: 0.25em 4.5vw;
    text-decoration: none;
    letter-spacing: 2px;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.socials img {
    height: 2.5em;
    padding: 0 0.5em;
}



/* ------------------Footer------------------ */
/* footer {
    display: flex;
    margin-top: 1em;
    padding: 1.5em 1em 1em 1em;
    border-top: 1px black solid;
    flex-direction: row;
}
footer p {
    font-size: 18px;
    margin-left: 2em;
    line-height: 1.25em;
    color: rgba(0, 0, 0, 0.7);
}
.socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    margin-left: auto;
}
.socials img {
    margin-left: 1vw;
    margin-right: 1vw;
} */



/* ------------------Home Page------------------ */
#home-main {
    margin: 0;
    /* border-top: 1px solid black; */
    position: relative;
    justify-content: center;
    text-align: center;
    overflow-y: hidden;

}
#home-main img {
    width: 100%;
    font-size: 0px;
    object-fit:inherit;
    
}
#header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

#header h2 {
    color: #1A2238;
    margin-top: 12%;
    margin-left: 10%;
    letter-spacing: 1px;
    text-align: left;
    white-space: pre;
}
#header h1 {
    color: #1A2238;
    letter-spacing: -3px;
    -webkit-text-stroke: 1px #1A2238;
}
